<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>添加校内兼职</title>
    <meta charset="UTF-8"/>

    <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap/css/bootstrap-responsive.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/theme.css}"/>
    <link rel="stylesheet" th:href="@{/lib/font-awesome/css/font-awesome.css}"/>

    <script th:src="@{/lib/jquery-1.8.1.min.js}" type="text/javascript"></script>


    <style TYPE="text/css">

        .brand { font-family: georgia, serif; }
        .brand .first {
            color: #ccc;
            font-style: italic;
        }
        .brand .second {
            color: #fff;
            font-weight: bold;
        }
    </style>


</head>

<body>
<div CLASS="navbar">
    <div CLASS="navbar-inner">
        <div CLASS="container-fluid">
            <ul CLASS="nav pull-right">

                <li id="fat-menu" class="dropdown">
                    <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-user"></i><span th:text="${userName}" ></span>
                        <i class="icon-caret-down"></i>
                    </a>

                    <ul class="dropdown-menu">
                        <li><a tabindex="-1" th:href="@{/admin/clear}">Logout</a></li>
                    </ul>
                </li>
            </ul>
            <a class="brand" th:href="@{/backMain}"><span class="first">Pocket</span> <span class="second">Cat</span></a>
        </div>
    </div>
</div>


<div class="container-fluid">

    <div class="row-fluid">
        <div class="span3">
            <div class="sidebar-nav">
                <div class="nav-header" data-toggle="collapse" data-target="#dashboard-menu"><i class="icon-dashboard"></i>公告</div>
                <ul id="dashboard-menu" class="nav nav-list collapse in">
                    <li><a th:href="@{/backMain/}">主页</a></li>
                    <li ><a th:href="@{/backMain/notice/allNotice}">公告管理</a></li>
                    <li ><a th:href="@{/backMain/notice/addNotice}">新增公告</a></li>
                    <li><a th:href="@{/backMain/notice/updateNotice}">更新公告</a></li>

                </ul>

                <div class="nav-header" data-toggle="collapse" data-target="#settings-menu"><i class="icon-exclamation-sign"></i>校内兼职</div>
                <ul id="settings-menu" class="nav nav-list collapse in">
                    <li><a th:href="@{/backMain/campusJob/allCampusJob}">兼职管理</a></li>
                    <li class="active"><a th:href="@{/backMain/campusJob/addCampusJob}">新增兼职</a></li>
                    <li><a th:href="@{/backMain/campusJob/updateCampusJob}">更新兼职</a></li>
                </ul>

                <div class="nav-header" data-toggle="collapse" data-target="#legal-menu"><i class="icon-legal"></i>校外兼职</div>
                <ul id="legal-menu" class="nav nav-list collapse in">
                    <li><a th:href="@{/backMain/socialJob/allSocialJob}">兼职管理</a></li>
                    <li><a th:href="@{/backMain/socialJob/socialDetail}">兼职详情</a></li>
                </ul>
            </div>
        </div>
        <div CLASS="span9">
            <h2 CLASS="page-title">添加校内兼职</h2>

            <div CLASS="well">
                <!--<ul CLASS="nav nav-tabs">-->
                    <!--<li CLASS="active"><a HREF="#home" data-toggle="tab">Profile</a></li>-->
                    <!--<li><a HREF="#profile" data-toggle="tab">Password</a></li>-->
                <!--</ul>-->
                <div id="myTabContent" CLASS="tab-content">
                    <div CLASS="tab-pane active in" id="home">
                        <!--Form表单开始-->
                        <form th:action="@{/backMain/campusJob/postAddCampusJob}" method="post">
                            <label>标题</label>
                            <input TYPE="text"  CLASS="input-xlarge" name="title"/>
                            <label>内容</label>
                            <input TYPE="text"  CLASS="input-xlarge" name="content"/>
                            <label>作者</label>
                            <input TYPE="text"  CLASS="input-xlarge"  name="author"/>
                            <label>价格</label>
                            <input TYPE="text"  CLASS="input-xlarge"  name="price"/>
                            <label>地点</label>
                            <input TYPE="text"  CLASS="input-xlarge"  name="place"/>
                            <label>状态</label>
                            <input TYPE="text"  CLASS="input-xlarge"  name="state" placeholder="1：不加入小黑屋  2 ：加入小黑屋"/>
                            <label>开始时间</label>
                            <input TYPE="text"  CLASS="input-xlarge"  name="beginTime" placeholder="eg: 2018-02-28 14:06:48"/>
                            <label>结束时间</label>
                            <input TYPE="text"  CLASS="input-xlarge"  name="endTime" placeholder="eg: 2018-02-28 14:06:48"/>
                            <label>当前时间&nbsp;&nbsp;&nbsp;</label>
                            <input TYPE="text"  CLASS="input-xlarge" name="pubDt" value="时间系统自动生成" readonly="readonly"/>
                            <div CLASS="btn-toolbar">
                                <input type="submit" CLASS="btn btn-primary" value="Save"/>
                                <a HREF="#myModal" data-toggle="modal" CLASS="btn">Cancel</a>
                            </div>
                        </form>
                        <!--Form表单结束-->
                    </div>
                    <!--<div CLASS="tab-pane fade" id="profile">-->
                        <!--<form id="tab2">-->
                            <!--<label>New Password</label>-->
                            <!--<input TYPE="password" CLASS="input-xlarge"/>-->
                            <!--<div>-->
                                <!--<button CLASS="btn btn-primary">Update</button>-->
                            <!--</div>-->
                        <!--</form>-->
                    <!--</div>-->
                </div>

            </div>

            <div CLASS="modal small hide fade" id="myModal" TABINDEX="-1" ROLE="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div CLASS="modal-header">
                    <button TYPE="button" CLASS="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">Delete Confirmation</h3>
                </div>
                <div CLASS="modal-body">

                    <p CLASS="error-text"><i CLASS="icon-warning-sign modal-icon"></i>Are you sure you want to delete the user?</p>
                </div>
                <div CLASS="modal-footer">
                    <button CLASS="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                    <button CLASS="btn btn-danger" data-dismiss="modal">Delete</button>
                </div>
            </div>

        </div>
    </div>



    <footer>
        <hr/>

        <p CLASS="pull-right">Collect from <a HREF="http://www.17sucai.com/" title="网页模板" TARGET="_blank">网页模板</a></p>


        <p>&copy; 2012 <a HREF="#">monsterlin</a></p>
    </footer>


    <script th:src="@{/lib/bootstrap/js/bootstrap.js}" ></script>
</div>
</body>
</html>
