<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>校内兼职</title>
    <meta charset="UTF-8"/>

    <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap/css/bootstrap-responsive.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/theme.css}"/>
    <link rel="stylesheet" th:href="@{/lib/font-awesome/css/font-awesome.css}"/>

    <script th:src="@{/lib/jquery-1.8.1.min.js}" type="text/javascript"></script>

    <style type="text/css">
        .brand {
            font-family: georgia, serif;
        }

        .brand .first {
            color: #ccc;
            font-style: italic;
        }

        .brand .second {
            color: #fff;
            font-weight: bold;
        }
    </style>

    <script th:src="@{/javascripts/html5.js}"></script>


</head>
<body>
<!--<![endif]-->

<div class="navbar">
    <div class="navbar-inner">
        <div class="container-fluid">
            <ul class="nav pull-right">
                <!--Session对象得到用户-->
                <li id="fat-menu" class="dropdown">
                    <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-user"></i><span th:text="${userName}" ></span>
                        <i class="icon-caret-down"></i>
                    </a>

                    <ul class="dropdown-menu">
                        <li><a tabindex="-1" th:href="@{/admin/clear}">Logout</a></li>
                    </ul>
                </li>
            </ul>
            <a class="brand" th:href="@{/backMain}"><span class="first">Pocket</span> <span class="second">Cat</span></a>
        </div>
    </div>
</div>


<div class="container-fluid">

    <div class="row-fluid">
        <div class="span3">
            <div class="sidebar-nav">
                <div class="nav-header" data-toggle="collapse" data-target="#dashboard-menu"><i
                        class="icon-dashboard"></i>公告
                </div>
                <ul id="dashboard-menu" class="nav nav-list collapse in">
                    <li><a th:href="@{/backMain/}">主页</a></li>
                    <li ><a th:href="@{/backMain/notice/allNotice}">公告管理</a></li>
                    <li><a th:href="@{/backMain/notice/addNotice}">新增公告</a></li>
                    <li><a th:href="@{/backMain/notice/updateNotice}">更新公告</a></li>

                </ul>


                <div class="nav-header" data-toggle="collapse" data-target="#settings-menu"><i
                        class="icon-exclamation-sign"></i>校内兼职
                </div>
                <ul id="settings-menu" class="nav nav-list collapse in">
                    <li class="active"><a th:href="@{/backMain/campusJob/allCampusJob}">兼职管理</a></li>
                    <li ><a th:href="@{/backMain/campusJob/addCampusJob}">新增兼职</a></li>
                    <li><a th:href="@{/backMain/campusJob/updateCampusJob}">更新兼职</a></li>
                </ul>

                <div class="nav-header" data-toggle="collapse" data-target="#legal-menu"><i class="icon-legal"></i>校外兼职
                </div>
                <ul id="legal-menu" class="nav nav-list collapse in">
                    <li><a th:href="@{/backMain/socialJob/allSocialJob}">兼职管理</a></li>
                    <li><a th:href="@{/backMain/socialJob/socialDetail}">兼职详情</a></li>
                </ul>
            </div>
        </div>
        <div class="span9">
            <h2 class="page-title">兼职列表</h2>

            <div class="well">
                <table class="table">
                    <thead>
                    <tr>
                        <th>JID</th>
                        <th>标题</th>
                        <th>内容</th>
                        <th>作者</th>
                        <th>价格</th>
                        <th>地点</th>
                        <th>状态</th>
                        <th>开始时间</th>
                        <th>结束时间</th>
                        <th style="width: 26px;"></th>
                    </tr>
                    </thead>
                    <!--循环开始-->
                    <tbody>
                        <tr th:each="pcCampusJob : ${pcCampusJobList}">
                            <td th:text="${pcCampusJob.jid}"></td>
                            <td th:text="${pcCampusJob.title}"></td>
                            <td th:text="${pcCampusJob.content}"></td>
                            <td th:text="${pcCampusJob.author}"></td>
                            <td th:text="${pcCampusJob.price}"></td>
                            <td th:text="${pcCampusJob.place}"></td>
                            <td th:text="${pcCampusJob.getstate()}"></td>
                            <td th:text="${#dates.format(pcCampusJob.beginTime,'yyyy-MM-dd')}"></td>
                            <td th:text="${#dates.format(pcCampusJob.endTime,'yyyy-MM-dd')}"></td>
                            <td>
                                <!--商品信息更改和删除开始-->
                                <a th:href="@{/backMain/campusJob/getCampusByJid(jid=${pcCampusJob.getJid()})}"><i class="icon-pencil"></i></a>
                                <a th:href="@{/backMain/campusJob/deleteCampusJob(jid=${pcCampusJob.getJid()})}" role="button" data-toggle="modal"><i
                                        class="icon-remove"></i></a>
                                <!--商品信息更改和删除结束-->
                            </td>
                        </tr>
                    </tbody>
                    <!--循环结束-->
                </table>
            </div>
            <!--<div class="pagination">-->
                <!--<ul>-->
                    <!--<li><a href="#">Prev</a></li>-->
                    <!--<li><a href="#">1</a></li>-->
                    <!--<li><a href="#">2</a></li>-->
                    <!--<li><a href="#">3</a></li>-->
                    <!--<li><a href="#">4</a></li>-->
                    <!--<li><a href="#">Next</a></li>-->
                <!--</ul>-->
            <!--</div>-->

            <div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">Delete Confirmation</h3>
                </div>
                <div class="modal-body">
                    <p class="error-text"><i class="icon-warning-sign modal-icon"></i>Are you sure you want to delete
                        the user?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                    <button class="btn btn-danger" data-dismiss="modal">Delete</button>
                </div>
            </div>

        </div>
    </div>


    <footer>
        <p>&copy; 2015 <a href="#">monsterlin</a></p>
    </footer>

    <script th:src="@{/lib/bootstrap/js/bootstrap.js}"></script>
</div>
</body>
</html>


