<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<title>留言板</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
</head>
<body>
<div class="clearfix nav">
	<div class="campus fl">
		<a th:href="@{/index}">校园兼职</a>
	</div>
	<div class="clearfix fr n_list">
		<a th:href="@{/login}">管理员登录</a>
		<a th:href="@{/bbs}">留言板</a>
		<a th:href="@{/blackjobs}">小黑屋</a>
		<a th:href="@{/notice}">通知公告</a>
		<a th:href="@{/socialjobs}">校外兼职</a>
		<a th:href="@{/index}">校内兼职</a>
	</div>
</div>
<div class="box clearfix">
	<div class="fl j_list">
		<div id="container"></div>
		<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css"/>
		<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
		<script>
            var gitalk = new Gitalk({
                clientID: '188d1fba3e38e1d23180',
                clientSecret: 'b1b85572cc8504fb5e2dc615cbe4f775fb26b000',
                repo: 'Gitalk_Comment',
                owner: 'monsterLin',
                admin: ['monsterLin'],
            })

            gitalk.render('container')
		</script>
	</div>
	<div class="fr img_list">
		<ul>
			<li>
				<img src="images/1.png" />
			</li>
			<li>
				<img src="images/2.png" />
			</li>
			<li>
				<img src="images/3.png" />
			</li>
			<li>
				<img src="images/4.png" />
			</li>
		</ul>
	</div>
</div>
<div class="foot">
	<p> © 2018, monsterlin Tech. All Rights Reserved</p>
</div>
</body>
</html>
