<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>兼职详情</title>
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<link rel="stylesheet" type="text/css" href="css/index.css" />
	</head>
	<body>
		<div class="clearfix nav">
			<div class="campus fl">
				<a href="index.html">校园兼职</a>
			</div>
			<div class="clearfix fr n_list">
				<a href="login">管理员登录</a>
				<a href="blackjobs">小黑屋</a>
				<a href="notice">通知公告</a>
				<a href="socialjobs">校外兼职</a>
				<a href="index">校内兼职</a>
			</div>
		</div>
		<div class="box clearfix">
			<div class="biaoti">
				<h4>
					诚聘市场推广人员<span>(130元/天)</span>
				</h4>
				<div class="clearfix x_qing">
					<span><s class="iconfont icon-dingwei"></s>济南-市中区</span>
					<span><s class="iconfont icon-miaoshucopy"></s>工资次结</span>
					<span><s class="iconfont icon-wode2"></s>招聘30人</span>
					<span><s class="iconfont icon-shouye"></s>来源：兼客兼职</span>
		            <div class="biao_list fr">
		            	<a href="#">前往申请</a>
		            	<a href="#">收藏</a>
		            	<a href="#">分享</a>
		            </div>
				</div>
			</div>
			<div class="fl j_list">
				<ul>
					<a href="#" class="clearfix">
						<div class="fl z_wei">
							<h3>职位描述</h3>
							<p>1.瑞思学科英语现诚聘30名市场推广人员，
主要工作任务：在万达广场，玉函银座和省体寻找3-12岁孩子和家长，介绍瑞思课程并填写试听卡。非常简单，只要你善于与人交流，就可以挑战高薪！！！</p>
							<p>2.本兼职有培训和完整的晋升体系。倘若你想既锻炼你的能力，又能获得高的薪水，那么瑞思学科英语将是你的不二之选！！</p>
<p>3.非中介，不收取任何兼职费用。</p>
<p>4.要求：形象良好，服从安排，会使用地图。</p>
						</div>
					</a>
					
				</ul>
			</div>
			<div class="fr img_list">
				<ul>
					<li>
						<img src="images/1.png" />
					</li>
					<li>
						<img src="images/2.png" />
					</li>
					<li>
						<img src="images/3.png" />
					</li>
					<li>
						<img src="images/4.png" />
					</li>
				</ul>
			</div>
		</div>
		<div class="foot">
			<p> © 2018, monsterlin Tech. All Rights Reserved</p>
		</div>
	</body>
</html>
