<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8" />
		<title>校内兼职</title>
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<link rel="stylesheet" type="text/css" href="css/index.css" />
	</head>
	<body>
		<div class="clearfix nav">
			<div class="campus fl">
				<a href="index.html">校园兼职</a>
			</div>
			<div class="clearfix fr n_list">
				<a href="login">管理员登录</a>
				<a href="blackjobs">小黑屋</a>
				<a href="notice">通知公告</a>
				<a href="socialjobs">校外兼职</a>
				<a href="index">校内兼职</a>
			</div>
		</div>
		<div class="box clearfix">
			<div class="fl j_list">
				<ul>
					<a href="detail.html" class="clearfix" th:each="campusJob : ${campusJobList}">
						<div class="fl wen">
							<h4 th:text="${campusJob.title}"></h4>
							<h5 th:text="${campusJob.content}"></h5>
							<h6 th:text="${#dates.format(campusJob.updateTime,'yyyy-MM-dd')} + '发布&nbsp; | &nbsp;'
							          +'有效期：' +${#dates.format(campusJob.beginTime,'yyyy-MM-dd')}
                                     +' &nbsp;-&nbsp; ' +${#dates.format(campusJob.endTime,'yyyy-MM-dd')}" ></h6>
						</div>
						<div class="fr w_zi">
							<p class="day" th:text="'薪资：'+${campusJob.price}"></p>
							<p th:text="'坐标：'+${campusJob.place}"></p>
							<p th:text="'发布人：'+${campusJob.author}"></p>
						</div>
					</a>

				</ul>
			</div>
			<div class="fr img_list">
				<ul>
					<li>
						<img src="images/1.png" />
					</li>
					<li>
						<img src="images/2.png" />
					</li>
					<li>
						<img src="images/3.png" />
					</li>
					<li>
						<img src="images/4.png" />
					</li>
				</ul>
			</div>
		</div>
		<div class="foot">
			<p> © 2018, monsterlin Tech. All Rights Reserved</p>
		</div>
	</body>
</html>
