<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<title>校外兼职</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
	</head>
	<body>
		<div class="clearfix nav">
			<div class="campus fl">
				<a th:href="@{/index}">校园兼职</a>
			</div>
			<div class="clearfix fr n_list">
				<a th:href="@{/login}">管理员登录</a>
				<a th:href="@{/blackjobs}">小黑屋</a>
				<a th:href="@{/notice}">通知公告</a>
				<a th:href="@{/socialjobs}">校外兼职</a>
				<a th:href="@{/index}">校内兼职</a>
			</div>
		</div>
		<div class="box clearfix">
			<div class="fl j_list">
				<ul>
					<a th:href="${socialJob.detailUrl}" class="clearfix" th:each="socialJob : ${socialJobList}">
						<div class="fl wen">
							<h4 th:text="${socialJob.title}"></h4>
							<h5 th:text="'坐标：'+${socialJob.place}"></h5>
							<h6 th:text="${socialJob.time}" ></h6>
						</div>
						<div class="fr w_zi">
							<p class="day" th:text="'薪资：'+${socialJob.price}"></p>
							<p >日结</p>
							<p th:text="${socialJob.source}"></p>
						</div>
					</a>

				</ul>
			</div>
			<div class="fr img_list">
				<ul>
					<li>
						<img src="images/1.png" />
					</li>
					<li>
						<img src="images/2.png" />
					</li>
					<li>
						<img src="images/3.png" />
					</li>
					<li>
						<img src="images/4.png" />
					</li>
				</ul>
			</div>
		</div>
		<div class="foot">
			<p> © 2018, monsterlin Tech. All Rights Reserved</p>
		</div>
	</body>
</html>
