<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>更新校内兼职</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap/css/bootstrap-responsive.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/theme.css}"/>
    <link rel="stylesheet" th:href="@{/lib/font-awesome/css/font-awesome.css}"/>

    <script th:src="@{/lib/jquery-1.8.1.min.js}" type="text/javascript"></script>

    <style type="text/css">
        .brand {
            font-family: georgia, serif;
        }

        .brand .first {
            color: #ccc;
            font-style: italic;
        }

        .brand .second {
            color: #fff;
            font-weight: bold;
        }
    </style>

    <script th:src="@{/javascripts/html5.js}"></script>


</head>
<!--[if lt IE 7 ]> <body class="ie ie6"> <![endif]-->
<!--[if IE 7 ]> <body class="ie ie7"> <![endif]-->
<!--[if IE 8 ]> <body class="ie ie8"> <![endif]-->
<!--[if IE 9 ]> <body class="ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<body>
<!--<![endif]-->

<div class="navbar">
    <div class="navbar-inner">
        <div class="container-fluid">
            <ul class="nav pull-right">
                <!--Session对象得到用户-->
                <li id="fat-menu" class="dropdown">
                    <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-user"></i><span th:text="${userName}" ></span>
                        <i class="icon-caret-down"></i>
                    </a>

                    <ul class="dropdown-menu">
                        <li><a tabindex="-1" th:href="@{/admin/clear}">Logout</a></li>
                    </ul>
                </li>
            </ul>
            <a class="brand" th:href="@{/backMain}"><span class="first">Pocket</span> <span class="second">Cat</span></a>
        </div>
    </div>
</div>


<div class="container-fluid">

    <div class="row-fluid">
        <div class="span3">
            <div class="sidebar-nav">
                <div class="nav-header" data-toggle="collapse" data-target="#dashboard-menu"><i class="icon-dashboard"></i>公告</div>
                <ul id="dashboard-menu" class="nav nav-list collapse in">
                    <li><a th:href="@{/backMain/}">主页</a></li>
                    <li ><a th:href="@{/backMain/notice/allNotice}">公告管理</a></li>
                    <li><a th:href="@{/backMain/notice/addNotice}">新增公告</a></li>
                    <li ><a th:href="@{/backMain/notice/updateNotice}">更新公告</a></li>

                </ul>

                <div class="nav-header" data-toggle="collapse" data-target="#settings-menu"><i class="icon-exclamation-sign"></i>校内兼职</div>
                <ul id="settings-menu" class="nav nav-list collapse in">
                    <li ><a th:href="@{/backMain/campusJob/allCampusJob}">兼职管理</a></li>
                    <li ><a th:href="@{/backMain/campusJob/addCampusJob}">新增兼职</a></li>
                    <li class="active"><a th:href="@{/backMain/campusJob/updateCampusJob}">更新兼职</a></li>
                </ul>

                <div class="nav-header" data-toggle="collapse" data-target="#legal-menu"><i class="icon-legal"></i>校外兼职</div>
                <ul id="legal-menu" class="nav nav-list collapse in">
                    <li ><a th:href="@{/backMain/socialJob/allSocialJob}">兼职管理</a></li>
                    <li ><a th:href="@{/backMain/socialJob/socialDetail}">兼职详情</a></li>
                </ul>
            </div>
        </div>
        <div class="span9">
            <h2 class="page-title">更新兼职</h2>

            <div class="well">
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane active in" id="home">
                        <!--Form表单开始-->
                        <form th:action="@{/backMain/campusJob/postUpdateCampus}" method="post" th:object="${pcCampusJob}">
                            <label>JID</label>
                            <input TYPE="text"  CLASS="input-xlarge" name="jid" th:value="${pcCampusJob.jid}" readonly="readonly"/>
                            <label>标题</label>
                            <input TYPE="text"  CLASS="input-xlarge" name="title" th:value="${pcCampusJob.title}"/>
                            <label>内容</label>
                            <input TYPE="text"  CLASS="input-xlarge" name="content" th:value="${pcCampusJob.content}"/>
                            <label>作者</label>
                            <input TYPE="text"  CLASS="input-xlarge"  name="author" th:value="${pcCampusJob.author}"/>
                            <label>价格</label>
                            <input TYPE="text"  CLASS="input-xlarge"  name="price" th:value="${pcCampusJob.price}"/>
                            <label>地点</label>
                            <input TYPE="text"  CLASS="input-xlarge"  name="place" th:value="${pcCampusJob.place}"/>
                            <label>状态</label>
                            <input TYPE="text"  CLASS="input-xlarge"  name="state" placeholder="1：不加入小黑屋  2 ：加入小黑屋" th:value="${pcCampusJob.getstate()}"/>
                            <label>开始时间</label>
                            <input TYPE="text"  CLASS="input-xlarge"  name="beginTime" placeholder="eg: 2018-02-28 14:06:48"  th:value="${#dates.format(pcCampusJob.beginTime,'yyyy-MM-dd hh:mm:ss')}"/>
                            <label>结束时间</label>
                            <input TYPE="text"  CLASS="input-xlarge"  name="endTime" placeholder="eg: 2018-02-28 14:06:48"  th:value="${#dates.format(pcCampusJob.endTime,'yyyy-MM-dd hh:mm:ss')}"/>
                            <label>创建时间</label>
                            <input TYPE="text"  th:value="${#dates.format(pcCampusJob.createTime,'yyyy-MM-dd hh:mm:ss')}" CLASS="input-xlarge" name="createTime" readonly="readonly"/>
                            <label>上次更新时间</label>
                            <input TYPE="text"  th:value="${#dates.format(pcCampusJob.updateTime,'yyyy-MM-dd hh:mm:ss')}" CLASS="input-xlarge" name="updateTime" readonly="readonly"/>
                            <div CLASS="btn-toolbar">
                                <input type="submit" CLASS="btn btn-primary" value="Save"/>
                                <a HREF="#myModal" data-toggle="modal" CLASS="btn">Cancel</a>
                            </div>
                        </form>
                        <!--Form表单开始-->
                    </div>

                </div>

            </div>

            <div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">Delete Confirmation</h3>
                </div>
                <div class="modal-body">

                    <p class="error-text"><i class="icon-warning-sign modal-icon"></i>Are you sure you want to delete the user?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                    <button class="btn btn-danger" data-dismiss="modal">Delete</button>
                </div>
            </div>

        </div>
    </div>



    <footer>
        <hr/>

        <p class="pull-right">Collect from <a href="http://www.17sucai.com/" title="网页模板" target="_blank">网页模板</a></p>


        <p>&copy; 2012 <a href="#">monsterlin</a></p>
    </footer>




    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script th:src="@{/lib/bootstrap/js/bootstrap.js}"></script>

</div>
</body>
</html>
